@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
          box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.header_box_logo {
  margin-right: 22.5%;
  fill: #000;
}

.header_logo {
  width: 150px;
  height: 100px;
}

.mafia {
  font-size: 36px;
  font-family: "Rubik Dirt", sans-serif;
  font-weight: 300;
}

.header_box_something {
  margin-right: 45%;
}

.hero {
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: #d6cfcf;
}

.hero_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  /* Відстань між колом і зображенням */
}

.hero_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ba2020;
  border-radius: 50%;
  /* Робить блок круглим */
  width: 600px;
  /* Розмір кола */
  height: 600px;
}

.circle_text_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle_text_f_color {
  color: white;
  /* Основний колір тексту */
  font-size: 68px;
  font-weight: bold;
  font-family: "Rubik Dirt", sans-serif;
  font-weight: 300;
}

.circle_text_c_color {
  font-family: "Rubik Dirt", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  /* Колір накладеного тексту */
  font-size: 68px;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 7.5px;
  margin-top: 12.5px;
  /* Налаштуй прозорість для створення ефекту накладання */
}

.hero_image_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_image {
  width: 600px;
  /* Розмір зображення */
  height: auto;
}
